.container-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;

  h3 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 2px;
  }

  input {
    margin-bottom: 9px;
    border-radius: 2px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.12);
    padding-inline-start: 12px;
    color: rgb(22, 24, 35);
    line-height: 100%;
    outline: none;
    font-size: 16px;
    height: 44px;
    caret-color: rgb(254, 44, 85);
    width: 100%;
    padding-inline-end: unset;
  }

  .password-input {
    position: relative;

    input {
      padding-right: 50px;
    }

    i {
      right: 0px;
      position: absolute;
      height: 44px;
      line-height: 44px;
      padding: 0 16px;
      cursor: pointer;
    }
  }

  button {
    border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    min-width: 120px;
    min-height: 46px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    font-family: TikTokFont, PingFangSC, sans-serif;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 6px 8px;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
  }

  button[disabled] {
    border: none;
    color: rgba(22, 24, 35, 0.34);
    background-color: rgba(22, 24, 35, 0.06);
    pointer-events: none;
  }

  button[disabled="false"] {
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
  }

  .go-back {
    margin-top: 24px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
  }
}

// Delete eye on ms-egde
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
