.card-container {
  width: calc(100% - 20px);
  display: block;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;

  &:hover .card-button {
    transform: translateX(0%);
  }
  &:hover .card-img img {
    scale: 1.2;
  }

  .card-img {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #333;
  }

  img {
    transition: 0.5s;
    width: 40%;
    object-fit: cover;
  }

  .card-content {
    height: 100px;

    .card-category {
      text-transform: capitalize;
      color: #666;
      margin-bottom: 0;
      margin-top: 5px;
    }

    .card-title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
      margin-top: 5px;
      color: #333;
      font-size: 20px;
    }

    .card-price {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 5px;
    }
  }

  .card-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    gap: 5px;
    transform: translateX(130%);
    transition: 0.5s;

    button,
    a {
      outline: none;
      border: none;
      border-radius: 5px;
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      &:hover {
        scale: 1.1;
      }
    }

    button:disabled {
      cursor: not-allowed;
      background-color: #ae7878;

      &:hover {
        scale: 1;
      }
    }

    .card-add {
      color: #fff;
      background-color: #b63f3f;
    }

    .card-detail {
      color: #333;
      background-color: #d5d5d5;
    }
  }
}

// Reponsive
@media (max-width: 576px) {
  // Styles for small screens
  .card-container {
    .card-img img {
      width: 90px;
    }
  }
}